{% extends 'master.html' %}

{% block style %}

.wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px;
}

.PollWrap{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 15px;
    padding: 10px;
}

{% endblock style %}


{% block content %} 


<div class="wrapper">
    <div >
        <span class = 'poller'><a href="{% url 'add-poll' %}"

            style = "box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; color:black;padding: 5px;
            font-size:30px;
            border-radius:3px;"
            
            >Add Poll</a></span> 
        
        
{% for poll in polls %}
<div class = 'PollWrap'>
    
    <div>
        
        <h5>
            <a href="{% url 'show-profile' poll.host.id %}"><img src="{{poll.host.avatar.url}}" alt="" width = "45" 
                class = 'rounded-circle'></a>
            <a href="{% url 'poll' poll.id %}" style = "color: black;">
                {{poll.title}} 
        
            </a>
        </h5>
        <div class="ChoiceClass" >
        {% for choice in poll.choices.all %}
        
        <button class = 'btn btn-success' style = 'margin:5px;'> {{choice.body}} </button>
        
        
        {% endfor %}
    </div>
    </div>
    </div>
  
    {% endfor %}
</div>

</div>






{% endblock content %}
