{% extends 'master.html' %}

{% block style %}

body{
  background-color:#9de2ff;
}
.wrapper{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}
.separate{
    display:flex;
    justify-content:separate-between;
    align-items:center;
}

{% endblock style %}

{% block content %}


<section class="vh-200" style="background-color: #9de2ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0 m-3">
                  <img src="{{user.avatar.url}}"
                    alt="Generic placeholder image" class="img-fluid"
                    style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="mb-1">{{user.username}}</h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">{{user.name}}</p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div>
                      <p class="small text-muted mb-1">Posts</p>
                      <p class="mb-0">{{user.posts.count}}</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">
                       <a href="{% url 'followers' user.id%}">Followers</a> 
                    </p>
                      <p class="mb-0">{{user.followers.count}}</p>
                    </div>
                    <div>
                      <p class="small text-muted mb-1">
                        <a href="{% url 'following' user.id%}">Following</a> 
                    </p>
                      <p class="mb-0">{{user.followings.count}}
                      </p>
                    </div>
                  </div>
                  <div class = 'mb-2'>
                    {{user.bio}}
                  </div>
                  <div class="d-flex  pt-1 ">
                    <button type="button" class="btn btn-outline-success me-3 flex-grow-1 " style = 'margin:5px;'>
                        {% if user.is_teacher %}         
               
               Teacher
               {% else %}
               Student
               
               {% endif %}

                    </button>
                    <button type="button" class="btn btn-primary flex-grow-1" style = 'margin:5px;'>
                        {% if user == request.user %}
                <a href="{% url 'edit-profile' %}" style = 'color:white;'> Edit Profile</a>
                {% elif  not followed %}
                <a href="{% url 'follow' user.id %}" style = 'color:white;'>Follow</a>
                {% else %}
                <a href="{% url 'follow' user.id %}" style = 'color:white;'>Unfollow</a>
                {% endif %}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% comment %} Here {% endcomment %}
        <div style = 'width: 400px; background-color:white; padding:5px; border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;'>
          <canvas id = 'chart' style = 'width: 100%;max-width:650px; ' ></canvas>
        </div>
      </div>
    </div>
  </section>

  <input type="hidden" id = 'followers' value = "{{user.followers.count}}">
  <input type="hidden" name="" id="following" value = "{{user.followings.count}}">
  <input type="hidden" id = 'posts' value = "{{user.posts.count}}">
  <input type="hidden" id = 'notes' value = "{{notes}}">
  <input type="hidden" id = 'questions' value = "{{questions}}">
  <input type="hidden" id = 'rooms' value = "{{rooms}}">
  <input type="hidden" id = 'polls' value = "{{polls}}">


 
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

{% load static %}
<script src ={% static 'js/profile.js' %} ></script>


{% endblock content %}